/* CONTAINER */
.container {
  display: flex;
  min-height: 100vh;
  background: #f6f7fb;
}
.main-content {
  flex: 1;
  padding: 25px;
  overflow-x: hidden;
}
.menu {
  list-style: none;
  padding: 0;
  flex: 1;              /* IMPORTANT */
  overflow-y: auto;
  margin: 0;
}

/* EMPLOYEE CARD */
.employee-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

/* SECTION TITLE */
.section-title {
  margin: 20px 0 10px;
  color: #333;
}

/* PROJECTS GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
}

/* PROJECT CARD */
.project-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-3px);
}

/* PROJECT HEADER */
.project-header {
  margin-bottom: 10px;
}

/* FILE INPUT */
.upload-box input {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

/* RESULT CARD */
.result-card {
  background: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 12px;
  border-left: 5px solid #7ac142;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* RESULT GRID */
.result-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* DETAILS */
.details-box {
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
}

.details-box ul {
  margin: 0;
  padding-left: 15px;
}

.details-box li {
  font-size: 13px;
  color: #555;
}
/* SIDEBAR */
.sidebar {
  width: 230px;
  height: 93vh;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #7ac142;
  margin-bottom: 20px;
}

.logo span {
  color: #222;
}

/* MENU */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #555;
  border-radius: 8px;
  transition: 0.3s;
}

.menu li:hover {
  background: #f1f1f1;
}

.active-item {
  background: #7ac142;
  color: white !important;
  font-weight: 500;
}

/* LOGOUT */
.logout {
  padding: 10px;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 10px; /* fallback sécurité */
}

.logout:hover {
  background: #ddd;
}


