/* GLOBAL */
body {
  margin: 0;
  background: #f4f6f9;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #7ac142;
  margin-bottom: 20px;
}

.logo span {
  color: #222;
}

/* MENU */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #555;
  border-radius: 8px;
  transition: 0.3s;
}

.menu li:hover {
  background: #f1f1f1;
}

.active-item {
  background: #7ac142;
  color: white !important;
  font-weight: 500;
}

/* LOGOUT */
.logout {
  margin-top: auto;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background: #ddd;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #eee;
}

.topbar span {
  color: #666;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #7ac142;
  border-radius: 50%;
}

/* CONTENT */
.content {
  padding: 25px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.search {
  padding: 10px;
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.search:focus {
  border-color: #7ac142;
}

/* BUTTON CREATE */
.add-btn {
  background: #7ac142;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #689f38;
}

/* TABLE */
.pm-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* TABLE HEADER */
.pm-table th {
  background: #f9fafb;
  padding: 12px;
  text-align: left;
  font-size: 13px;
  color: #666;
  text-transform: uppercase;
}

/* TABLE ROW */
.pm-table td {
  padding: 12px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

/* HOVER */
.pm-table tr:hover {
  background: #f9f9f9;
}

/* ACTIONS */
.view {
  color: #888;
  cursor: pointer;
}

.edit {
  color: #1976d2;
  cursor: pointer;
}

.delete {
  color: #d32f2f;
  cursor: pointer;
}

.view:hover,
.edit:hover,
.delete:hover {
  text-decoration: underline;
}

/* LINKS FIX */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}
.details {
  color: #17a2b8;
  cursor: pointer;
  
  margin-left: 5px;
}

.details:hover {
  text-decoration: underline;
}