<div class="container" *ngIf="employee">
  <div class="card">
    <h2>Employee Details</h2>

    <div class="info">
      <p><strong>Full Name:</strong> {{ employee.fullName }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Phone Number:</strong> {{ employee.phoneNumber }}</p>
      <p><strong>Matricule:</strong> {{ employee.matricule }}</p>
      <p><strong>City:</strong> {{ employee.city }}</p>
      <p><strong>Speciality:</strong> {{ employee.speciality }}</p>
      <p><strong>Grade:</strong> {{ employee.grade }}</p>
      <p><strong>Projects:</strong></p>
      <ul>
        <li *ngFor="let p of employee.projects">{{ p }}</li>
      </ul>
         <p><strong>Tasks Assigned:</strong></p>

      <ul *ngIf="employee?.tasks?.length > 0; else noTasks">
        <li *ngFor="let task of employee.tasks">
          {{ task.title }}
        </li>
      </ul>

      <ng-template #noTasks>
        <p>Aucune tâche assignée</p>
      </ng-template>
    </div>
    

    <button class="cancel-btn" (click)="cancel()">Back to List</button>
  </div>
</div>