<div class="login-page">

  <div class="login-card">

    <img src="téléchargement.jpg" class="logo" alt="logo">

    <h2>Welcome back!</h2>
    <p class="subtitle">Enter your credentials to access your account</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Email address</label>
        <input 
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        >
      </div>

      <div class="form-group">

  <div class="password-header">
    <label>Password</label>
    <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>
  </div>

  <input 
    type="password"
    formControlName="password"
    placeholder="Password"
  >

</div>

      <button type="submit" class="login-btn">Login</button>

      <p class="signup-text">
        Don’t have an account?
        <a routerLink="/register">Sign Up</a>
      </p>

    </form>

  </div>

</div>