<div class="page">
  <div class="card">

    <div class="logo">
      <img src="téléchargement.jpg" alt="logo">
    </div>

    <h2>Get Started Now</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Name</label>
        <input formControlName="username" placeholder="Enter your name" />
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input formControlName="email" placeholder="Enter your email" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter password" />
      </div>

      <button type="submit" class="btn">Signup</button>

    </form>

    <p class="login-link">
      Have an account? <a routerLink="/login">Sign In</a>
    </p>

  </div>
</div>