<div class="container">
  <h2>Set a new password</h2>
  <p>Create a new password. Ensure it differs from previous ones for security</p>

  <form (ngSubmit)="onSubmit()">
    <!-- Email en lecture seule (pré-rempli) -->
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required readonly />

    <!-- Pas de champ code visible -->
    
    <input type="password" name="password" [(ngModel)]="password" placeholder="New password" required />
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm password" required />
    <button type="submit">Update Password</button>
  </form>

  <div class="message" [ngClass]="{ error: isError, success: !isError }">{{ message }}</div>
</div>