<div class="container">
  <h2>Set a new password</h2>
  <p>Create a new password. Ensure it differs from previous ones for security</p>

  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <input
      type="email"
      name="email"
      [(ngModel)]="model.email"
      placeholder="Enter your email"
      required
    />

    <input
      type="password"
      name="password"
      [(ngModel)]="model.password"
      placeholder="Enter your new password"
      required
    />

    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="model.confirmPassword"
      placeholder="Re-enter password"
      required
    />

    <button type="submit">Update Password</button>

  </form>

  <div class="message" [ngClass]="{ error: isError, success: !isError }">
    {{ message }}
  </div>
</div>