<h2>💰 Finance Manager Dashboard</h2>

<div *ngFor="let w of worklogs" class="card">

  <h3>👤 {{ w.employee }}</h3>
  <p><strong>Email:</strong> {{ w.email }}</p>

  <p><strong>📁 Project:</strong> {{ w.project }}</p>
  <p><strong>🏢 Client:</strong> {{ w.client }}</p>
  <p><strong>🧑‍💼 Project Manager:</strong> {{ w.projectManager }}</p>

  <p><strong>💵 Hourly Rate:</strong> {{ w.hourlyRate }}</p>
  <p><strong>⏱ Total Hours:</strong> {{ w.totalHours }}</p>
  <p><strong>📊 Planned Hours:</strong> {{ w.plannedHours }}</p>
  <p><strong>Total Cost:</strong> {{ w.totalCost }} </p>

  <div>
  <strong>📄 Details:</strong>
  <ul>
    <li *ngFor="let d of parseDetails(w.detailsJson)">
       {{ d.date }} — {{ d.hours }}h
    </li>
  </ul>
  <button (click)="openInvoice(w.projectId)">
  🧾 Open Invoice
</button>
</div>

  <hr>
</div>