<h2> Finance Manager Dashboard</h2>

<div class="container">

  <div *ngFor="let w of worklogs" class="project-card">

    <div class="employee-card">
      <h4> {{ w.employee }}</h4>

      <p><strong>Email:</strong> {{ w.email }}</p>
      <p><strong>Project:</strong> {{ w.project }}</p>
      <p><strong>Client:</strong> {{ w.client }}</p>
      <p><strong>Project Manager:</strong> {{ w.projectManager }}</p>
    </div>

    <div class="result-card">

      <div class="result-grid">
        <p><strong> Hourly Rate:</strong> {{ w.hourlyRate }}</p>
        <p><strong> Total Hours:</strong> {{ w.totalHours }}</p>
        <p><strong> Planned Hours:</strong> {{ w.plannedHours }}</p>
        <p><strong>Total Cost:</strong> {{ w.totalCost }}</p>
      </div>

      <div class="details-box">
        <p><strong> Details:</strong></p>

        <ul>
          <li *ngFor="let d of parseDetails(w.detailsJson)">
            {{ d.date }} — {{ d.hours }}h
          </li>
        </ul>
      </div>

      <button (click)="openInvoice(w.clientId)">
  Open Invoice
</button> 

    </div>

    <hr>

  </div>

</div>