<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2 class="logo">FIN<span>LOGIK</span></h2>

    <ul class="menu">
      <li routerLink="/dashboard" routerLinkActive="active-item">
  Dashboard
</li>
      <li routerLink="/project-manager-list" routerLinkActive="active-item">Project Manager</li>
      <li routerLink="/employee-list" routerLinkActive="active-item">Employee</li>
      <li routerLink="/finance-manager-list" routerLinkActive="active-item">Finance Manager</li>
      <li routerLink="/client-list" routerLinkActive="active-item">Client</li>
      <li routerLink="/project-list" routerLinkActive="active-item">
  Projects
</li>
      <li routerLink="/admin-list" routerLinkActive="active-item">Admin Management</li>
    </ul>

    <button class="logout" (click)="logout()">
  Logout
</button>
  </aside>

  <!-- 🔹 MAIN -->
  <div class="main">

    <!-- TOPBAR -->
    <div class="topbar">
      <span>You're Logged as Administrator</span>

      <div class="user">
        <div class="avatar"></div>
        <span>Admin</span>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">

      <div class="header">
        <h2>Liste des Admins</h2>
        <button class="add-btn" routerLink="/create-admin-details">
     Create Admin
  </button>
      </div>

      <table class="pm-table">

        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Matricule</th>
            <th>Téléphone</th>
            <th>Ville</th>
            <th>Date création</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let a of data">
            <td>{{ a.fullName }}</td>
            <td>{{ a.email }}</td>
            <td>{{ a.matricule }}</td>
            <td>{{ a.phone }}</td>
            <td>{{ a.city }}</td>
            <td>{{ a.dateCreation | date:'dd/M/y' }}</td>

            <td>
                <a (click)="view(a.id)" class="view">View</a> /
              <a (click)="edit(a.id)" class="edit">Edit</a> /
              <a (click)="delete(a.id)" class="delete">Delete</a>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>